*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
 
  width: 100%;
  width: 200px;
  object-fit: contain;
  transition: .3s;
}


img:hover{
  animation: alzareEAbbassare 1.2s ease infinite; 
  transition: .5s;
}

@keyframes alzareEAbbassare {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}

.main-wrapper{
  height: 100vh;
  width: 100%;
  background-color: #201658;
}

.action-bar{
  color: #F9E8C9;
  border: 1px solid black;
  width: 90%;
  height: 10%;
  border-radius: 20px;
  background-color: #1D24CA;
}

.action-bar > *{
  margin: 0 20px;
}

.action-bar h1{
  font-weight: 600;
}

.my-select{
  width: 30%;
  background-color: gre;
}

.canva{
  width: 1000px;
  height: 1000px;
  background-color: #98ABEE;
  transition: 1.2s;
}

.canva:hover{
  box-shadow: 0 0 100px #f9e8c97b;
}



.square100{
  background-color: #1D24CA;
  height: calc(100% / 10);
  width: calc(100% / 10);
  border: 2px solid #98ABEE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D24CA;
  font-weight: 700;
  font-size: 1.3rem;
}
.square81{
  background-color: #1D24CA;
  height: calc(100% / 9);
  width: calc(100% / 9);
  border: 2px solid #98ABEE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D24CA;
  font-weight: 700;
  font-size: 1.3rem;
}
.square49{
  background-color: #1D24CA;
  height: calc(100% / 7);
  width: calc(100% / 7);
  border: 2px solid #98ABEE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D24CA;
  font-weight: 700;
  font-size: 1.3rem;
}

.clicked{
  background-color: #F9E8C9;
}

